In [1]:
import findspark

findspark.init()

In [2]:
import pyspark 

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

df = spark.sql("Select 'spark' as hello ")

df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [4]:
df = spark.read.csv("toy_dataset.csv")
df.show()

+------+------+------+---+-------+-------+
|   _c0|   _c1|   _c2|_c3|    _c4|    _c5|
+------+------+------+---+-------+-------+
|Number|  City|Gender|Age| Income|Illness|
|     1|Dallas|  Male| 41|40367.0|     No|
|     2|Dallas|  Male| 54|45084.0|     No|
|     3|Dallas|  Male| 42|52483.0|     No|
|     4|Dallas|  Male| 40|40941.0|     No|
|     5|Dallas|  Male| 46|50289.0|     No|
|     6|Dallas|Female| 36|50786.0|     No|
|     7|Dallas|Female| 32|33155.0|     No|
|     8|Dallas|  Male| 39|30914.0|     No|
|     9|Dallas|  Male| 51|68667.0|     No|
|    10|Dallas|Female| 30|50082.0|     No|
|    11|Dallas|Female| 48|41524.0|    Yes|
|    12|Dallas|  Male| 47|54777.0|     No|
|    13|Dallas|  Male| 46|62749.0|     No|
|    14|Dallas|Female| 42|50894.0|     No|
|    15|Dallas|Female| 61|38429.0|     No|
|    16|Dallas|  Male| 43|34074.0|     No|
|    17|Dallas|  Male| 27|50398.0|     No|
|    18|Dallas|  Male| 38|46373.0|    Yes|
|    19|Dallas|  Male| 47|51137.0|     No|
+------+------+------+---+-------+-------+
only showing top 20 rows

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)

In [6]:
df = spark.read.csv("toy_dataset.csv",inferSchema=True,header=True)

In [7]:
df.printSchema()

root
 |-- Number: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Income: double (nullable = true)
 |-- Illness: string (nullable = true)

In [8]:
df.show()

+------+------+------+---+-------+-------+
|Number|  City|Gender|Age| Income|Illness|
+------+------+------+---+-------+-------+
|     1|Dallas|  Male| 41|40367.0|     No|
|     2|Dallas|  Male| 54|45084.0|     No|
|     3|Dallas|  Male| 42|52483.0|     No|
|     4|Dallas|  Male| 40|40941.0|     No|
|     5|Dallas|  Male| 46|50289.0|     No|
|     6|Dallas|Female| 36|50786.0|     No|
|     7|Dallas|Female| 32|33155.0|     No|
|     8|Dallas|  Male| 39|30914.0|     No|
|     9|Dallas|  Male| 51|68667.0|     No|
|    10|Dallas|Female| 30|50082.0|     No|
|    11|Dallas|Female| 48|41524.0|    Yes|
|    12|Dallas|  Male| 47|54777.0|     No|
|    13|Dallas|  Male| 46|62749.0|     No|
|    14|Dallas|Female| 42|50894.0|     No|
|    15|Dallas|Female| 61|38429.0|     No|
|    16|Dallas|  Male| 43|34074.0|     No|
|    17|Dallas|  Male| 27|50398.0|     No|
|    18|Dallas|  Male| 38|46373.0|    Yes|
|    19|Dallas|  Male| 47|51137.0|     No|
|    20|Dallas|Female| 35|23688.0|     No|
+------+------+------+---+-------+-------+
only showing top 20 rows

In [9]:
df.count()

150000

In [12]:
# filter
df.filter(df.Gender == "Male").count()

83800

In [13]:
totalentries = df.count()

In [17]:
df2 = df.sample(0.01)
df2.show()

+------+------+------+---+-------+-------+
|Number|  City|Gender|Age| Income|Illness|
+------+------+------+---+-------+-------+
|     6|Dallas|Female| 36|50786.0|     No|
|   383|Dallas|Female| 61|50266.0|     No|
|   696|Dallas|Female| 63|46860.0|     No|
|   729|Dallas|  Male| 46|44701.0|     No|
|   763|Dallas|  Male| 35|49869.0|     No|
|   886|Dallas|  Male| 59|32401.0|     No|
|   940|Dallas|Female| 28|32576.0|     No|
|  1125|Dallas|  Male| 61|54879.0|     No|
|  1644|Dallas|  Male| 44|48021.0|     No|
|  1712|Dallas|  Male| 53|60702.0|     No|
|  1762|Dallas|  Male| 36|45549.0|     No|
|  2080|Dallas|Female| 59|43901.0|     No|
|  2091|Dallas|Female| 62|46546.0|     No|
|  2237|Dallas|Female| 41|61151.0|     No|
|  2368|Dallas|Female| 47|32610.0|     No|
|  2511|Dallas|  Male| 59|61450.0|     No|
|  2515|Dallas|Female| 32|33657.0|     No|
|  2599|Dallas|Female| 38|35641.0|     No|
|  2889|Dallas|Female| 49|36986.0|     No|
|  3050|Dallas|  Male| 61|42072.0|     No|
+------+------+------+---+-------+-------+
only showing top 20 rows

In [18]:
df.groupBy("City").count().show()

+---------------+-----+
|           City|count|
+---------------+-----+
|         Dallas|19707|
|    Los Angeles|32173|
|      San Diego| 4881|
|         Austin|12292|
|  New York City|50307|
|Washington D.C.| 8120|
|  Mountain View|14219|
|         Boston| 8301|
+---------------+-----+

In [19]:
df.groupBy("City").count().count()

8

In [24]:
df2 = df.groupBy("Illness").count()
df2.show()

+-------+------+
|Illness| count|
+-------+------+
|     No|137861|
|    Yes| 12139|
+-------+------+

In [26]:
# row to grow
rows[0]

Row(count=137861)

In [27]:
print(type(rows[0]))

<class 'pyspark.sql.types.Row'>

In [33]:
rows = df.groupBy("Gender").count().select("count").collect() 
females = rows[0][0]
males = rows[1][0]
total = males+females
percentmales = round((males/total) * 100)
percentfemales = round((females/total) * 100)
print('{0:0d} % male : {1:0d} % female'.format(percentmales,percentfemales))

56 % male : 44 % female

In [41]:
from pyspark.sql.functions import col, asc,desc
df2 = df.where(df.Illness=="Yes").groupBy(df.City).count().sort(col("count").desc())
df2.show()

+---------------+-----+
|           City|count|
+---------------+-----+
|  New York City| 4021|
|    Los Angeles| 2568|
|         Dallas| 1613|
|  Mountain View| 1178|
|         Austin| 1011|
|         Boston|  686|
|Washington D.C.|  668|
|      San Diego|  394|
+---------------+-----+

In [42]:
from pyspark.sql.functions import mean
averageill = df.filter(df.Illness=="Yes").select(mean("Income")).withColumnRenamed("avg(Income)","Mean Unwell Income")
averagehealthy = df.filter(df.Illness=="No").select(mean("Income")).withColumnRenamed("avg(Income)","Mean Healthy Income")
averageill.join(averagehealthy).show(vertical=True)

-RECORD 0--------------------------------
 Mean Unwell Income  | 91277.8753604086
 Mean Healthy Income | 91250.59017416093

In [45]:
df.filter(df.Illness=="Yes").show(n=4)

+------+------+------+---+-------+-------+
|Number|  City|Gender|Age| Income|Illness|
+------+------+------+---+-------+-------+
|    11|Dallas|Female| 48|41524.0|    Yes|
|    18|Dallas|  Male| 38|46373.0|    Yes|
|    24|Dallas|Female| 27|34292.0|    Yes|
|    30|Dallas|  Male| 45|47421.0|    Yes|
+------+------+------+---+-------+-------+
only showing top 4 rows

In [46]:
df.filter(df.Illness=="Yes").select("Age").show(n=4)

+---+
|Age|
+---+
| 48|
| 38|
| 27|
| 45|
+---+
only showing top 4 rows

In [48]:
df.filter(df.Illness=="Yes").select("Age").summary().show()

+-------+------------------+
|summary|               Age|
+-------+------------------+
|  count|             12139|
|   mean| 45.02084191449048|
| stddev|11.554129904969162|
|    min|                25|
|    25%|                35|
|    50%|                45|
|    75%|                55|
|    max|                65|
+-------+------------------+

In [49]:
from pyspark.sql.functions import col, asc,desc
df.filter(df.Illness=="No").sort(col("Age").desc()).show()

+------+-------------+------+---+--------+-------+
|Number|         City|Gender|Age|  Income|Illness|
+------+-------------+------+---+--------+-------+
|109681|Mountain View|  Male| 65|128235.0|     No|
|111720|Mountain View|Female| 65|141970.0|     No|
|109693|Mountain View|Female| 65|134403.0|     No|
|109331|Mountain View|Female| 65|141513.0|     No|
|109733|Mountain View|Female| 65|134292.0|     No|
|109602|Mountain View|Female| 65|120683.0|     No|
|109776|Mountain View|  Male| 65|143252.0|     No|
|109660|Mountain View|Female| 65|125563.0|     No|
|109948|Mountain View|Female| 65|137848.0|     No|
|110829|Mountain View|  Male| 65|135814.0|     No|
|111683|Mountain View|Female| 65|132820.0|     No|
|110832|Mountain View|Female| 65|136950.0|     No|
|109679|Mountain View|  Male| 65|138095.0|     No|
|110967|Mountain View|Female| 65|116875.0|     No|
|109956|Mountain View|  Male| 65|129640.0|     No|
|111012|Mountain View|Female| 65|120274.0|     No|
|110248|Mountain View|  Male| 65|138851.0|     No|
|111015|Mountain View|  Male| 65|144923.0|     No|
|110518|Mountain View|Female| 65|117938.0|     No|
|111292|Mountain View|  Male| 65|152978.0|     No|
+------+-------------+------+---+--------+-------+
only showing top 20 rows

In [51]:
from pyspark.sql.functions import max
df.select(max("Age")).show()

+--------+
|max(Age)|
+--------+
|      65|
+--------+